.background-picture {
    width: 100dvw;
    height: 100dvh;
    background-image: url("https://res.cloudinary.com/djdnlogf1/image/upload/v1734722096/bg-login_xgcknp.jpg");
    background-position: center;
    background-size: cover;
}

.form-section {
    display: flex;
    justify-content: flex-start;
    width: 100dvw;
    height: 100dvh;
}

.form-section .form-container {
    display: flex;
    justify-self: flex-start;
    min-width: 320px;
    width: 25dvw;
    margin: 20px;
    border-radius: 8px;
    border: var(--border-line);
    box-shadow: var(--shadow-box);
    background-color: var(--bg-form-color);
}

.form-container .registration-form .lds-ellipsis {
    transform: translate(-45%, -80%);
}

/* ANIMATION CONTAINERS */

.animation {
    background: linear-gradient(-45deg, rgba(8, 238, 161, 0.282), #421ed131, rgba(0, 204, 255, 0.298), #4d186a29);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media screen and (max-width: 500px) {
    .form-section {
        justify-content: center;
    }

    .form-section .form-container {
        min-width: 300px;
    }
}
