.layout-container {
    display: grid;
    min-height: 100dvh;
    grid-template-columns: auto 1fr auto;
    /* flex-direction: column; */
}

.page-container {
    display: grid;
    /* min-width: 100dvw; */
    grid-template-rows: auto 1fr auto;
}
