.select-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    z-index: 3;
}

.select-container .select-label {
    margin-top: 5px;
    padding: 5px 10px;
    border: var(--border-line);
    border-radius: 5px;
    transition: all 0.15s ease-in;
    z-index: 1;
    cursor: pointer;
}

.select-container .select-label:hover {
    background-color: rgba(171, 171, 171, 0.433);
    color: var(--text-color);
}

.select-container .select-label::after .select-list {
    position: absolute;
}

.select-container::after {
    content: "▼";
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    margin-top: -25px;
    color: var(--text-color);
    z-index: 0;
}

.select-list {
    content: "";
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 40px;
    /* border: var(--border-line); */
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 400;
    z-index: 0;
    width: 50%;
    background-color: var(--bg-secondary-color);
}

.select-list .option {
    display: block;
    width: 100%;
    margin: 0;
    text-indent: 15px;
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.select-list .option:hover {
    background-color: rgba(171, 171, 171, 0.168);
    color: var(--text-color);
}
