.add-source-window {
    flex-direction: column;
    min-width: 35dvw;
    max-width: 70dvw;
}

.window-add-list-container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.window-add-list-container .window-list-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.window-add-list-container .window-list-container .list-container {
    border: var(--border-line);
    border-radius: 5px;
    margin-top: 10px;
    height: 180px;
    overflow-y: auto;
}

.window-add-list-container .window-list-container .list-container::-webkit-scrollbar {
    width: 5px;
}

.window-add-list-container .window-list-container .list-container::-webkit-scrollbar-track {
    background: none;
}

.window-add-list-container .window-list-container .list-container::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-shadow-color);
}

.window-add-list-container .window-list-container .list-container::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-shadow-color);
}

.window-add-list-container .window-list-container .list-container .list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 2px;
    padding-left: 2%;
    border: var(--border-line);
    border-radius: 2%;
    background-color: var(--bg-primary-color);
}

.window-add-list-container .window-list-container .list-container .list .list-item {
    display: flex;
    height: 25px;
    justify-content: space-between;
    border-bottom: var(--border-line);
    transition: all 0.15s ease-in;
    cursor: pointer;
}

.list-item .btn-delete-channel {
    display: none;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: red;
}

.window-add-list-container .window-list-container .list-container .list .list-item:last-child {
    border-bottom: none;
}

.window-add-list-container .window-list-container .list-container .list .list-item:hover {
    background-color: var(--bg-secondary-color-lighter);
    text-shadow: white 1px 1px 20px;
    transform: scale3d(1.02, 1.02, 1.02);
}

.window-add-list-container .window-list-container .list-container .list .list-item:hover .btn-delete-channel {
    display: flex;
}

.window-add-list-container .window-add-container {
    display: flex;
    flex-direction: column;
    padding: 10px 10px 15px 10px;
    width: 50%;
    border: var(--border-line);
    border-radius: 5px;
}

.window-add-list-container .window-add-container .add-form {
    display: flex;
    flex-direction: column;
}

.window-add-list-container .window-add-container .add-form .btn-container {
    display: flex;
    width: 100%;
    margin-top: 15px;
}

.window-add-list-container .window-add-container .add-form .btn-container button {
    width: 100%;
}

.window-add-list-container .window-list-container {
    display: flex;
    flex-direction: column;
    padding: 0px 10px 0px 0px;
    width: 50%;
}
