.movements-window {
    display: flex;
    flex-direction: column;
    /* margin: 10px 20px; */
    min-width: 30dvw;
    max-width: 35dvw;
    max-height: 50dvh;
    padding: 5px;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    box-shadow: var(--shadow-box);
    transition: 0.9s;
}

.movements-window:hover {
    box-shadow: var(--hover-shadow-box);
}

.movements-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}

.movements-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    border: var(--border-line);
    border-radius: 3px;
    overflow-y: auto;
}

.movements-list .movement-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 50px;
    font-size: 10px;
    border-bottom: var(--border-line);
    transition: 0.2s;
}

.movements-list .movement-card:hover {
    background-color: var(--bg-form-color);
}

.movement-card .left-side {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.movement-card .left-side .date {
    color: grey;
    font-size: 12px;
}

.movement-card .left-side .amount {
    font-size: 16px;
    font-weight: bold;
}

.movement-card .left-side .source {
    margin-left: 20px;
    font-size: 12px;
}

.movement-card .right-side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 50%;
}

.movement-card .right-side .category {
    font-size: 12px;
}

.movement-card .right-side .description {
    font-size: 10px;
    color: grey;
}

@media screen and (max-width: 760px) {
    .movements-window {
        max-width: 90dvw;
    }
}

/* Scrollbar */

.movements-list::-webkit-scrollbar {
    width: 5px;
}

.movements-list::-webkit-scrollbar-track {
    background: none;
}

.movements-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-shadow-color);
}

.movements-list::-webkit-scrollbar-thumb:hover {
    background-color: var(--bg-secondary-color);
}
