@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@font-face {
    font-family: "Starjedi"; /* Name your font family */
    src: url("fonts/Starjedi.ttf"); /* Locate the .ttf file within your directory*/
}

:root {
    --bg-primary-color: #1a1d1d;
    --bg-secondary-color: #171414;
    --bg-secondary-color-transparent: #171414bc;
    --bg-secondary-color-transparent-more: #1714143b;

    --bg-secondary-color-lighter: #635a5abc;
    --primary-shadow-color: #65b9b9;
    --secondary-shadow-color: rgba(0, 255, 55, 0.885);
    --cancel-shadow-color: rgba(248, 51, 51, 0.808);
    --modal-shadow: 0 0px 20px 0 rgba(101, 185, 185, 0.871);

    --text-color: #f2f2f2;
    --link-color: rgb(105, 105, 255);
    --border-color: rgba(139, 139, 139, 0.433);
    --shadow-box: 0px 0px 5px 3px var(--primary-shadow-color);
    --hover-shadow-box: 0px 0px 5px 3px var(--secondary-shadow-color);
    --border-line: 1px solid rgba(139, 139, 139, 0.433);
    --color: #f50c0c;
    --bg-form-color: #1a1d1dad;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Merriweather Sans", sans-serif;
    /* font-family: "Starjedi", sans-serif; */
}

body {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track {
    background: var(--bg-primary-color);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--primary-shadow-color);
}

body::-webkit-scrollbar-thumb:hover {
    background-color: var(--secondary-shadow-color);
}

/* GLOBAL STYLES */

.btn {
    border: none;
    background-color: var(--bg-secondary-color);
    padding: 6px 11px;
    border-radius: 3px;
    color: var(--text-color);
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    box-shadow: var(--shadow-box);
    transition: 1s;
}

.btn:hover {
    box-shadow: var(--hover-shadow-box);
}

.link {
    text-decoration: none;
    color: var(--text-color);
}

.link:hover {
    text-shadow: var(--hover-shadow-box);
    text-decoration: underline;
}

.form-group input {
    width: 100%;
    padding-left: 5px;
    height: 30px;
    border: var(--border-line);
    border-radius: 3px;
    background-color: var(--bg-secondary-color);
    color: rgb(190, 190, 190);
    font-size: 14px;
    outline: none;
}

.form-group label {
    color: var(--text-color);
    font-size: 10px;
}

.window {
    display: flex;
    padding: 10px;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 5px;
    background-color: var(--bg-secondary-color);
    color: var(--text-color);
    box-shadow: var(--shadow-box);
    transition: 0.9s;
}

.login-container {
    display: grid;
    flex-direction: column;
    margin: 20px;
    /* gap: 5px; */
    width: 100%;
    /* height: 100%; */
    color: var(--text-color);
}

.logo-container {
    width: 100%;
    height: 5rem;
    overflow: hidden;
}
.logo-container img {
    width: 100%;
}

.login-container h2 {
    text-align: center;
    padding-bottom: 10px;
}

.login-container .login-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 20px 20px 20px;
    width: 100%;
    border-radius: 8px;
    border: var(--border-line);
    background-color: var(--bg-form-color);
}

.login-container .login-form .remember-container {
    display: flex;
    justify-content: space-between;
    font-size: 9px;
}

.login-container .login-form .remember-container div {
    display: flex;
    align-items: center;
    gap: 3px;
}

.remember-container.link-forgot {
    color: var(--link-color);
}

.link-forgot:hover {
    text-decoration: underline;
}

.btn-signin {
    margin-top: 10px;
    width: 100%;
}

.link-container {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    font-size: 12px;
}

.link-container .link-signup {
    color: var(--link-color);
}

.link-container .link-signup:hover {
    text-decoration: underline;
}

.copyright-container {
    display: flex;
    align-self: flex-end;
    justify-self: center;
    font-size: 8px;
}

/* ERROR CONTAINER OUTPUT MESSAGES */

.output-messages-container {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px 10px 10px 10px;
    width: 100%;
    border-radius: 8px;
    border: var(--border-line);
    background-color: var(--bg-form-color);
    text-align: center;
    font-size: 10px;
    color: var(--cancel-shadow-color);
}

/* LOADING SPINNER */

.loading-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    width: 100dvw;
    background-color: var(--bg-secondary-color);
}

.movements {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: transparent;
}

/* .loading-page .lds-ripple,
.lds-ripple div {
    box-sizing: border-box;
} */

.loading-page .lds-ripple {
    color: var(--primary-shadow-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-page .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.loading-page .lds-ripple div {
    position: absolute;
    border: 5px solid currentColor;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.loading-page .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}
@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 8px;
        height: 8px;
        opacity: 1;
    }
    100% {
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

/* EDIT PROFILE PAGE AND SETTINGS STYLES */

.edit-profile-page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--bg-primary-color);
    padding: 15px 20% 40px 20%;
    color: var(--text-color);
}

.edit-profile-page h2 {
    margin-bottom: 10px;
}

.containers {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 35%;
    width: 100%;
    /* height: 100%; */
    gap: 20px;
}

.edit-profile-window {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 5px 20px;
}

.edit-profile-window .form-group-user {
    flex-direction: row;
}

.edit-profile-window .form-group-user .btn-container {
    justify-self: end;
    margin-top: 15px;
    margin-bottom: 10px;
}

@media screen and (max-width: 760px) {
    .edit-profile-page {
        padding: 15px 10% 40px 10%;
    }
}

@media screen and (max-width: 550px) {
    .edit-profile-page {
        padding: 15px 5% 40px 5%;
    }

    .containers {
        grid-template-columns: 100%;
    }

    .containers .btn-choose-file {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .edit-profile-page {
        /* border: 3px solid red; */
        padding: 15px 5% 40px 5%;
    }
}
