.header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    z-index: 10;
    padding: 0px 20px;
    width: 85dvw;
    height: 12dvh;
    border-bottom: var(--border-line);
    background: rgb(101, 185, 185);
    background: linear-gradient(158deg, rgba(101, 185, 185, 1) 0%, rgba(75, 117, 117, 1) 0%, rgba(23, 20, 20, 1) 51%);
}

.header .movement-buttons {
    display: flex;
    position: absolute;
    justify-content: space-between;
    margin-left: 25px;
    width: 180px;
}

.header .movement-buttons .btn-withdraw {
    margin-left: 20px;
}

.header .movement-buttons button {
    background-color: var(--bg-primary-color);
}

.header .logo {
    display: block;
    width: 250px;
    height: 90px;
    overflow: hidden;
}

.header .logo img {
    width: 100%;
    padding: 20px;
}

.primaryBtn {
    margin: 20px 10px;
    cursor: pointer;
    font-weight: 500;
    padding: 13px 25px;
    border-radius: 15px;
    font-size: 0.8rem;
    border: none;
    color: white;
    background: #185adb;
    transition: all 0.25s ease;
}

.primaryBtn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(24, 90, 219, 0.6);
}

@media screen and (max-width: 760px) {
    .header {
        width: 100dvw;
    }

    .header .movement-buttons {
        margin-left: 100px;
    }
}

@media screen and (max-width: 600px) {
    .header .logo {
        display: none;
    }
}
