.btn-login {
    display: flex;
    justify-content: center;
}

.send-email-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
    font-size: 12px;
    padding: 10px;
    text-align: center;
    text-wrap: pretty;
    color: var(--text-color);
    gap: 8px;
}
